<div class="container">
    <form name="deleteflightform" (ngSubmit)="onDelete()">
        <table align="center">
            <caption>{{ title | uppercase }}</caption>
            <br>
            <br>
                <tbody>
                    <tr>
                        <th>Provider Code ::</th>
                        <td><input type="text" name="proviercode" [(ngModel)]="dfobj.providerCode" placeholder="6E- or SG- or I5- or G8- or 9W- or AI-"/></td>
                    </tr>
                    <br>
                    <tr>
                        <th>Provider Type ::</th>
                        <td><input type="text" name="providertype" [(ngModel)]="dfobj.providerType" placeholder="Domestic or International"/></td>
                    </tr>
                    <br>
                </tbody>
                <tfoot>
                    <tr>
                        <td><input type="submit" value="Delete Flight" /></td>
                    </tr>
                </tfoot>
        </table>
    </form>
    </div>